@model IEnumerable<GameData>

<div class="container-fluid px-4 mt-3">
    
    <div class="grid-container">

        @foreach (var game in Model)
        {
            <a class="grid-item" asp-controller="Home" asp-action="GameDetails" asp-route-id="@game.id">

                <partial name="_GamePartialView" for="@game" />

            </a>
        }

    </div>

</div>
