@using static Plathub.Models.GenreData
@using static Plathub.Models.PlatformData
@{
    ViewData["Title"] = "Search Games";
}

<div class="container mt-5">

    <h2>Search Games</h2>

    <form method="get" asp-controller="Home" asp-action="FindGame">

        <div class="form-group">
            <label for="searchQuery"></label>
            <input type="text" class="form-control" id="searchQuery" name="searchQuery" placeholder="Enter game title">
        </div>

        <div class="form-group">

            <label for="genre"></label>
            <select class="form-control" id="genre" name="genre">

                <option value="">Select Genre</option>
                @{

                    foreach ( var genre in Enum.GetValues( typeof( GameGenre ) ).Cast<GameGenre>() ) {

                        int id = (int) genre;

                        <option value="@id">@genre</option>

                    }

                }
                
            </select>
        </div>

        <div class="form-group">

            <label for="platform"></label>

            <select class="form-control" id="platform" name="platform" placeholder="Select Platform">

                <option value="">Select Platform</option>
                @{

                    foreach ( GamePlatform platform in Enum.GetValues( typeof( GamePlatform ) ) ) {

                        int id = (int) platform;

                        <option value="@id">@platform</option>

                    }

                }
               
            </select>
        </div>

        <button type="submit" class="btn btn-primary mt-2">Find Game</button>

    </form>

</div>
